<% layout('layouts/boilerPlate') -%>
<link rel="stylesheet" href="css/students.css" />

<body>
  <div class="main">
      <div class="nav-tabs">
        <div class="filter">
          <a href="/students?filter=due"
            ><i class="fa-solid fa-chart-line"></i>
            <p>&nbsp;&nbsp;Due Students</p>
          </a>
          <a href="/students"
            ><i class="fa-solid fa-user-group"></i>
            <p>&nbsp;&nbsp;All Students</p></a
          >
          <a
            title="Add New Student"
            onclick="location.href='students/newStudent'"
          >
            <i class="fa-solid fa-user-plus"></i>
            <p>&nbsp;&nbsp;Add Student</p>
          </a>
        </div>
        <div class="quick-actions">
          <label for="">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input
              type="text"
              id="searchBox"
              placeholder="Search student by name..."
            />
          </label>
        </div>
      </div>
      <div class="radio-inputs">
        <label class="radio">
          <input type="radio" name="radio" value="all" checked />
          <span class="name" id="student-count">All <%=studentsData.length%></span>
        </label>
        <label class="radio">
          <input type="radio" name="radio" value="10th" />
          <span class="name">10th</span>
        </label>
        <label class="radio">
          <input type="radio" name="radio" value="9th" />
          <span class="name">9th</span>
        </label>

        <label class="radio">
          <input type="radio" name="radio" value="8th" />
          <span class="name">8th</span>
        </label>
        <label class="radio">
          <input type="radio" name="radio" value="7th" />
          <span class="name">7th</span>
        </label>
        <label class="radio">
          <input type="radio" name="radio" value="6th" />
          <span class="name">6th</span>
        </label>
        <label class="radio">
          <input type="radio" name="radio" value="5th" />
          <span class="name">5th</span>
        </label>
        <label class="radio">
          <input type="radio" name="radio" value="4th" />
          <span class="name">4th</span>
        </label>
        <label class="radio">
          <input type="radio" name="radio" value="3rd" />
          <span class="name">3rd</span>
        </label>
        <label class="radio">
          <input type="radio" name="radio" value="2nd" />
          <span class="name">2nd</span>
        </label>
        <label class="radio">
          <input type="radio" name="radio" value="1st" />
          <span class="name">1st</span>
        </label>
        <label class="radio">
          <input type="radio" name="radio" value="0" />
          <span class="name">0</span>
        </label>
      </div>
      <div class="students">
        <%for(let students of studentsData){%>
          <div class="list" data-grade="<%= students.grade %>">
            <img
              loading="lazy"
              src="https://ui-avatars.com/api/?name=<%= students.name %>&bold=true"
              alt=""
            />
            <div class="details">
              <p
                class="<%= students.dueFees >= students.fees * 3 ? 'red' : (students.dueFees >= students.fees * 2 ? 'yellow' : 'normal') %>"
              >
                <%= students.name %>
              </p>
              <span><%= students.grade %></span>
              <span class="<%= students.dueFees <= 0? 'none':'' %>"
                >Due <%= students.dueFees %>&#8377;
              </span>
              <br>
              <div class="flex">
                <form action="/students/<%= students._id %>/restore" method="POST">
                  <button class="edit-info">Restore</button>
                </form>
                <form action="/students/<%= students._id %>/delete?_method=delete" method="post">
                  <button class="edit-info">
                    Delete
                  </button>
                </form>
              </div>
            </div>
          </div>
        <%}%>
      </div>
  </div>
</body>
<script type="module" src="/js/filter.js"></script>
