<% layout('layouts/boilerPlate') -%>
<link rel="stylesheet" href="css/students.css" />
<body>
  <div class="main">
    <%- include('../includes/navbar')%>
    <div class="container">
      <div class="nav-tabs">
        <h1><i class="fa-solid fa-chart-line"></i>&nbsp;Due Fees</h1>
        <div class="quick-actions">
          <label for="">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input
              type="text"
              id="searchBox"
              placeholder="Search student by name..."
            />
          </label>
          <button
            title="Add New Student"
            onclick="location.href='students/newStudent'"
          >
            <i class="fa-solid fa-user-plus"></i>
            <p>Add Student</p>
          </button>
          <!-- <button>
            <p><i class="fa-solid fa-bell"></i> Send Bulk Reminders</p>
          </button> -->
        </div>
      </div>
      <p>
        <strong id="student-count">
          Total students <%=studentsData.length%>
        </strong>
      </p>
      <div class="radio-inputs">
        <label class="radio">
          <input type="radio" name="radio" value="all" checked />
          <span class="name" id="student-count">All</span>
        </label>
        <label class="radio">
          <input type="radio" name="radio" value="10th" />
          <span class="name">10th</span>
        </label>
        <label class="radio">
          <input type="radio" name="radio" value="9th" />
          <span class="name">9th</span>
        </label>

        <label class="radio">
          <input type="radio" name="radio" value="8th" />
          <span class="name">8th</span>
        </label>
        <label class="radio">
          <input type="radio" name="radio" value="7th" />
          <span class="name">7th</span>
        </label>
        <label class="radio">
          <input type="radio" name="radio" value="6th" />
          <span class="name">6th</span>
        </label>
        <label class="radio">
          <input type="radio" name="radio" value="5th" />
          <span class="name">5th</span>
        </label>
        <label class="radio">
          <input type="radio" name="radio" value="4th" />
          <span class="name">4th</span>
        </label>
        <label class="radio">
          <input type="radio" name="radio" value="3rd" />
          <span class="name">3rd</span>
        </label>
        <label class="radio">
          <input type="radio" name="radio" value="2nd" />
          <span class="name">2nd</span>
        </label>
        <label class="radio">
          <input type="radio" name="radio" value="1st" />
          <span class="name">1st</span>
        </label>
        <label class="radio">
          <input type="radio" name="radio" value="0" />
          <span class="name">0</span>
        </label>
      </div>
      <div class="students">
        <% if (studentsData.length === 0) { %>
        <h1>🎉 All students have paid their fees. No pending dues!</h1>
        <% } else { %> <%for(let students of studentsData){%>
        <a href="/students/<%=students._id%>">
          <div class="list" data-grade="<%= students.grade %>">
            <img
              src="https://ui-avatars.com/api/?name=<%= students.name %>&bold=true"
              alt=""
            />
            <div class="details">
              <h2
                class="<%= students.dueFees >= students.fees * 3 ? 'red' : (students.dueFees >= students.fees * 2 ? 'yellow' : 'normal') %>"
              >
                <%= students.name %>
              </h2>
              <p>GRADE : <%= students.grade %></p>
              <p class="<%= students.dueFees <= 0? 'none':'' %>">
                DUE FEES : <%= students.dueFees %>
              </p>
            </div>
          </div>
        </a>
        <%}%> <% } %>
      </div>
    </div>
  </div>
</body>
<script type="module" src="/js/filter.js"></script>
