<% layout('layouts/boilerPlate') -%>
<link rel="stylesheet" href="/css/style.css" />
<link rel="stylesheet" href="/css/newStudent.css" />
<body>
  <div class="main">
    <div class="page1">
      <%- include('../includes/navbar')%>
      <div class="container">
        <img src="/img/addStudent.jpg" alt="Student reading a book" />
        <form action="/students/<%= student.id %>/edit?_method=PUT " method="post" class="form">
          <p class="title">Edit Details</p>
          <p class="message">
            <i class="fa-solid fa-user-plus"></i>&nbsp;&nbsp;Update exsiting student
          </p>
          <label>
            <input
              class="input"
              type="text"
              placeholder=""
              required=""
              id="name"
              name="name"
              value="<%= student.name %>"
            />
            <span>Name</span>
          </label>
          <div class="flex">
            <label>
              <input
                class="input"
                type="text"
                placeholder=""
                required=""
                id="grade"
                name="grade"
                value="<%= student.grade %>"
              />
              <span>Grade</span>
            </label>
            <label>
              <input
                class="input"
                type="number"
                placeholder=""
                required=""
                id="fees"
                name="fees"
                value="<%= student.fees %>"
              />
              <span>Fees</span>
            </label>
          </div>
          <label>
            <input
              type="date"
              class="input"
              placeholder=""
              required=""
              id="joiningDate"
              name="joiningDate"
              value="<%= formattedDate %>"
            />
            <span>Joining Date</span>
          </label>
          <label>
            <input
              class="input"
              type="text"
              placeholder=""
              required=""
              id="parent"
              name="parent"
              value="<%= student.parent %>"
            />
            <span>Parent</span>
          </label>
          <label>
            <input
              class="input"
              type="number"
              required=""
              placeholder=""
              id="contact"
              name="contact"
              value="<%= student.contact %>"
            />
            <span>Contact</span>
          </label>
          <label>
            <input
              class="input"
              type="number"
              required=""
              placeholder=""
              id="phone"
              name="phone"
              value="<%= student.phone %>"
            />
            <span>Phone</span>
          </label>
          <label>
            <input
              class="input"
              type="text"
              placeholder=""
              required=""
              id="note"
              name="note"
              value="<%= student.note %>"
            />
            <span>Note</span>
          </label>

          <button class="submit">Make Changes</button>
        </form>
      </div>
    </div>
  </div>
</body>
