<% layout('layouts/boilerPlate') -%>
<link rel="stylesheet" href="/css/fund.css" />
<body>
  <div class="main">
    <%- include('../includes/navbar')%>
    <div class="container">
      <div class="nav-tabs">
        <h1>Monthly Reports</h1>
      </div>
      <div class="thisMonth">
        <div class="report-card">
          <div class="report-header">
            <h2 class="title"><%= thisMonthYear %></h2>
          </div>
          <div class="report-stats">
            <div class="stat">
              <div class="total">
                <span
                  ><%=thisMonthData.totalEarning.toLocaleString('en-IN')%>
                  &#8377;</span
                ><br />Total Revenue
              </div>
              <div class="total">
                <span><%=totalDue.toLocaleString('en-IN')%> &#8377;</span
                ><br />Total Due
              </div>
            </div>
          </div>
          <div class="expense-section new-stu">
            <div class="stat new">
              <h3>New Students : <%=stuThisMonth.length%></h3>
              <h3>Students Left : <%=thisMonthData.studentsLeft%></h3>
            </div>
            <ul>
              <%for(let stu of stuThisMonth.reverse()){%>
              <li>
                <span><%= stu.name%></span><br />
                <span><%= stu.grade%></span><br />
              </li>
              <%}%>
            </ul>
          </div>
          <div class="expense-section">
            <h3>Expense Details</h3>
            <ul>
              <%for(let exp of thisMonthData.expenses){%>
              <li>
                <span><%= exp.note%></span><br />
                <span><%= exp.amount%></span><br />
                <span
                  ><%= new Date(exp.paidDate) .toLocaleDateString('en-GB', {
                  weekday: 'short', day: 'numeric', month: 'short' })
                  .replace(/,/g, '') %></span
                >
              </li>
              <%}%>
            </ul>
            <div class="report-stats">
              <div class="stat expense">
                <!-- do this total in controller -->
                <% let total = 0; thisMonthData.expenses.forEach(e => total +=
                e.amount); %>
                <h3>Total Expenses: <%= total %> ₹</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="addFess">
          <form class="form" action="/fund/expenses" method="post">
            <h2 class="title">Add Expenses</h2>
            <label>
              <input
                class="input"
                type="text"
                placeholder=""
                id="note"
                name="note"
                required
              />
              <span>For</span>
            </label>
            <label>
              <input
                class="input"
                type="number"
                placeholder=""
                id="amount"
                name="amount"
                required min="1"
              />
              <span>Amount</span>
            </label>
            <label>
              <input
                type="date"
                class="input"
                placeholder=""
                required=""
                id="paidDate"
                name="paidDate"
                value="<%=todayDate%>"
              />
              <span>Paid On</span>
            </label>

            <button class="submit">Add Expenses</button>
          </form>
        </div>
        <div class="history">
          <h2 class="title">
            <i class="fa-solid fa-clock-rotate-left"></i>&nbsp;Fees This Month
          </h2>
          <div class="feeHistory">
            <% if (feesThisMonth && feesThisMonth.length) { %> <%
            feesThisMonth.forEach(fee => { %>
            <div class="fee-entry">
              <a href="/students/<%=fee._id%>">
                <p>
                  <strong><%= fee.feesHistory.amount %>₹  — <%= fee.name %> / <%= fee.grade %></strong>
                  <span>On : <%= new
                  Date(fee.feesHistory.paidDate) .toLocaleDateString('en-GB', {
                  weekday: 'short', day: 'numeric', month: 'short' })
                  .replace(/,/g, '') %> <%if(fee.feesHistory.note){%><br />Note
                  : <%= fee.feesHistory.note %> <%}%></span>
                </p>
              </a>
            </div>
            <% }) %> <% } else { %>
            <p>No fees recorded this month.</p>
            <% } %>
          </div>
        </div>
      </div>
      <div class="nav-tabs">
        <h1>Previous Reports</h1>
      </div>
      <div class="monthly-reports-container">
        <%for(let data of previousReport){%>
        <div class="report-card">
          <div class="report-header">
            <h2 class="title">
              <%= new Date(data.year, data.month - 1).toLocaleString('en-US', {
              month: 'short', year: 'numeric' }) %>
            </h2>
          </div>

          <div class="report-stats">
            <div class="stat">
              <div class="total">
                <span
                  ><%=data.totalEarning.toLocaleString('en-IN')%> &#8377;</span><br />Total Revenue
              </div>
            </div>
            <div class="stat new">
              <span>New Students : <%= data.newStudents %></span>
              <span>Students Left : <%= data.studentsLeft %></span>
            </div>
          </div>

          <div class="expense-section">
            <h3>Expense Details</h3>
            <ul>
              <%for(let exp of data.expenses){%>
              <li>
                <span><%= exp.note%></span><br />
                <span><%= exp.amount%></span><br />
                <span
                  ><%= new Date(exp.paidDate) .toLocaleDateString('en-GB', {
                  weekday: 'short', day: 'numeric', month: 'short' })
                  .replace(/,/g, '') %></span>
              </li>
              <%}%>
            </ul>
            <div class="report-stats">
              <div class="stat expense">
                <% let total = 0; data.expenses.forEach(e => total += e.amount);
                %>
                <h3>Total Expenses: <%= total %> ₹</h3>
              </div>
            </div>
          </div>
        </div>
        <%}%>
      </div>
    </div>
  </div>
</body>
