<% layout('layouts/boilerPlate') -%>
<link rel="stylesheet" href="/css/fund.css" />
<body>
  <div class="main">
        <h1 class="nav-tabs">Monthly Reports</h1>
      <div class="thisMonth">
        <div class="report-card">
          <h2 class="title"><%= thisMonthYear %></h2>
          <div class="stat">
            <div class="total">
              <span><%=balance.toLocaleString('en-IN')%> &#8377;</span
              ><br />Fund Balance
            </div>
            <div class="total">
              <span
                ><%=thisMonthData.totalEarning.toLocaleString('en-IN')%>
                &#8377;</span
              ><br />Total Revenue
            </div>
          </div>
          <div class="expense-section new-stu">
            <div class="stat new">
              <h3>New Students : <%=stuThisMonth.length%></h3>
              <h3>Students Left : <%=thisMonthData.studentsLeft%></h3>
            </div>
            <ul>
              <%for(let stu of stuThisMonth.reverse()){%>
              <li>
                <span><%= stu.name%></span><br />
                <span><%= stu.grade%></span><br />
              </li>
              <%}%>
            </ul>
          </div>
          <div class="expense-section">
            <h3>Expense Details</h3>
            <ul>
              <%for(let exp of thisMonthData.expenses){%>
              <li>
                <span><%= exp.note%></span><br />
                <span><%= exp.amount.toLocaleString('en-IN')%></span><br />
                <span
                  ><%= new Date(exp.paidDate) .toLocaleDateString('en-GB', {
                  weekday: 'short', day: 'numeric', month: 'short' })
                  .replace(/,/g, '') %></span
                >
              </li>
              <%}%>
            </ul>
            <h3>Total Expenses : <%= total.toLocaleString('en-IN') %> ₹</h3>
            <h3>Total Due : <%= totalDue.toLocaleString('en-IN') %> ₹</h3>
          </div>
        </div>
        <form class="form" action="/fund/expenses" method="post">
          <h2 class="title">Add Expenses</h2>
          <label>
            <input
              class="input"
              type="text"
              placeholder=""
              id="note"
              name="note"
              required
            />
            <span>For</span>
          </label>
          <label>
            <input
              class="input"
              type="number"
              placeholder=""
              id="amount"
              name="amount"
              required min="1" max="<%=balance%>"
            />
            <span>Amount</span>
          </label>
          <label>
            <input
              type="date"
              class="input"
              placeholder=""
              required=""
              id="paidDate"
              name="paidDate"
              value="<%=todayDate%>"
              max="<%= todayDate%>"
                required
            />
            <span>Paid On</span>
          </label>
          <button class="submit">Add Expenses</button>
        </form>
        <div class="history">
          <h2 class="title">
            <i class="fa-solid fa-clock-rotate-left"></i>&nbsp;Fees This Month
          </h2>
          <% if (view === "month") { %>
            <a href="/fund" class="btn">Show Last 3 Days</a>
          <% } else { %>
            <a href="/fund?view=month" class="btn">Show Full Month</a>
          <% } %>
          <div class="feeHistory">
            <% if (feesThisMonth && feesThisMonth.length) { %> <%
            feesThisMonth.forEach(fee => { %>
              <li class="fee-entry">
                  <strong><%= fee.feesHistory.amount %>₹  — <%= fee.name %> / <%= fee.grade %></strong>
                  <span>On : <%= new
                  Date(fee.feesHistory.paidDate) .toLocaleDateString('en-GB', {
                  weekday: 'short', day: 'numeric', month: 'short' })
                  .replace(/,/g, '') %> <%if(fee.feesHistory.note){%><br />Note
                  : <%= fee.feesHistory.note %> <%}%></span><br>
              </li>
            <% }) %> <% } else { %>
            <p>No fees recorded this month.</p>
            <% } %>
            <% if (archiveFeesThisMonth && archiveFeesThisMonth.length) { %> 
              <p>Archive fees record</p>
              <% archiveFeesThisMonth.forEach(fee => { %>
              <li class="fee-entry">
                  <strong><%= fee.feesHistory.amount %>₹  — <%= fee.name %> / <%= fee.grade %></strong>
                  <span>On : <%= new
                  Date(fee.feesHistory.paidDate) .toLocaleDateString('en-GB', {
                  weekday: 'short', day: 'numeric', month: 'short' })
                  .replace(/,/g, '') %> <%if(fee.feesHistory.note){%><br />Note
                  : <%= fee.feesHistory.note %> <%}%></span><br>
              </li>
            <% })} %>
          </div>
        </div>
      </div>
      <div id="previousReports" class="monthly-reports-container"></div>
      <div class="nav-tabs">
        <button id="loadReportsBtn" data-page="1">
          Show Previous Reports
        </button>
      </div>
  </div>
</body>
<script src="./js/previousReports.js"></script>
