<% layout('layouts/boilerPlate') -%>
<link rel="stylesheet" href="/css/style.css" />
<link rel="stylesheet" href="/css/show.css" />
<body>
  <div class="main">
    <div class="page1">
      <%- include('../includes/navbar')%>
      <a href="/students">← Back to students</a>
      <div class="list">
        <div class="student">
          <div class="student-info">
            <div class="img-name">
              <img
                src="https://ui-avatars.com/api/?name=<%= student.name %>&bold=true"
                alt=""
              />
              <h1><%= student.name %></h1>
            </div>
            <br />
            <p><strong>Grade:</strong> <%= student.grade %></p>
            <p class="parent"><strong>Parent:</strong> <%= student.parent %></p>
            <p>
              <strong>Contact:</strong> <%= student.contact %>
              <a href="https://wa.me/91<%= student.contact %>" target="_blank"
                ><i class="fa-brands fa-whatsapp"></i>
              </a>
              <a href="tel:+91<%= student.contact %>">
                <i class="fa-solid fa-phone"></i>
              </a>
            </p>
            <p>
              <strong>Phone:</strong> <%= student.phone %>
              <a href="https://wa.me/91<%= student.phone %>" target="_blank"
                ><i class="fa-brands fa-whatsapp"></i>
              </a>
              <a href="tel:+91<%= student.phone %>">
                <i class="fa-solid fa-phone"></i>
              </a>
            </p>
            <p><strong>Note:</strong> <%= student.note %></p>
            <p><strong>Joining Date:</strong> <%= formattedDate %></p>
            <p><strong>Fees:</strong> <%= student.fees %></p>
            <p><strong>Due Fees:</strong> <%= student.dueFees %></p>
          </div>
          <div class="flex">
            <a href="/student/<%= student.id%>/edit">
              <button class="edit-info">
                Edit Information <i class="fa-regular fa-pen-to-square"></i>
              </button>
            </a>
            <form
              action="/student/<%= student.id%>?_method=DELETE"
              method="post"
            >
              <button class="edit-info">
                Remove Student <i class="fa-solid fa-user-minus"></i>
                <!-- add a aleart ("Do you really want to delete") -->
              </button>
            </form>
          </div>
        </div>
        <div class="fees">
          <div class="addFess">
            <form action="/student/<%= student.id%>/addFees" method="post">
              <label for="">
                <input type="text" name="month" id="month" />Month
              </label>
              <label
                ><input type="number" name="amount" id="amount" value="<%=student.dueFees%>"/>Amount</label
              >
              <label
                ><input type="date" name="paidOn" id="paidOn" value="<%=todayDate%>"/>Paid On</label
              >
              <button>Add Fees</button>
            </form>
          </div>
          <div class="feeHistory">
            <h2>Fees History</h2>
            <% if(student.feesHistory && student.feesHistory.length > 0) { %>
            <%student.feesHistory.reverse().forEach(function(fees) { %>
            <div class="fee-entry">
              <p>
                <strong><%= fees.month %></strong> : ₹<%= fees.amount %>
                <br />
                <small
                  >Paid On: <%= fees.paidDate.toLocaleDateString("en-GB", {
                  weekday: "short", day: "2-digit", month: "short", year:
                  "numeric" }) %></small
                >
              </p>
              <br><hr>
            </div>
            <% }); %>
            <% } else { %>
              <p>No payment history found.</p>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
