<% layout('layouts/boilerPlate') -%>
<link rel="stylesheet" href="css/style.css" />
<link rel="stylesheet" href="css/students.css" />
<body>
  <div class="main">
    <div class="page1">
      <%- include('../includes/navbar')%>
      <a href="/newStudent" title="Add New Student">
        <div class="new-student">
          <i class="fa-solid fa-user-plus"></i>
        </div>
      </a>
      <div class="students">
        <%for(let students of studentsData){%>
        <a href="/student/<%=students._id%>">
          <div class="list">
            <img
              src="https://ui-avatars.com/api/?name=<%= students.name %>&bold=true"
              alt=""
            />
            <div class="details">
              <h2><%= students.name %></h2>
              <p>GRADE : <%= students.grade %></p>
            </div>
          </div>
        </a>
        <%}%>
      </div>
    </div>
  </div>
</body>
