<% layout('layouts/boilerPlate') -%>
<link rel="stylesheet" href="css/students.css" />
<body>
  <div class="main">
      <div class="nav-tabs">
        <div class="option">
          <div class="links-group">
            <a id="btn-due" class="active"><i class="fa-solid fa-chart-line"></i>&nbsp;Due</a>
            <a id="btn-all" ><i class="fa-solid fa-user-group"></i>&nbsp;All</a>
          </div>
          <a class="links-group"
            title="Add New Student"
            href='students/newStudent'
          >
            <i class="fa-solid fa-user-plus"></i>
            <p>&nbsp;Add Student</p>
          </a>
          <a class="links-group"
            href='/fund'
          >
            <i class="fa-solid fa-wallet"></i>
            <p>&nbsp;Fund</p>
          </a>
        </div>
        <div class="quick-actions">
          <label>
            <i class="fa-solid fa-magnifying-glass"></i>
            <input
              type="text"
              id="searchBox"
              placeholder="Search student by name..."
            />
          </label>
        </div>
      </div>
      <div class="radio-inputs">
        <label class="radio">
          <input type="radio" name="radio" value="all" checked />
          <span class="name" id="student-count">All <%=studentsData.length%></span>
        </label>
        <label class="radio">
          <input type="radio" name="radio" value="10th" />
          <span class="name">10th</span>
        </label>
        <label class="radio">
          <input type="radio" name="radio" value="9th" />
          <span class="name">9th</span>
        </label>
        <label class="radio">
          <input type="radio" name="radio" value="8th" />
          <span class="name">8th</span>
        </label>
        <label class="radio">
          <input type="radio" name="radio" value="7th" />
          <span class="name">7th</span>
        </label>
        <label class="radio">
          <input type="radio" name="radio" value="6th" />
          <span class="name">6th</span>
        </label>
        <label class="radio">
          <input type="radio" name="radio" value="5th" />
          <span class="name">5th</span>
        </label>
        <label class="radio">
          <input type="radio" name="radio" value="4th" />
          <span class="name">4th</span>
        </label>
        <label class="radio">
          <input type="radio" name="radio" value="3rd" />
          <span class="name">3rd</span>
        </label>
        <label class="radio">
          <input type="radio" name="radio" value="2nd" />
          <span class="name">2nd</span>
        </label>
        <label class="radio">
          <input type="radio" name="radio" value="1st" />
          <span class="name">1st</span>
        </label>
        <label class="radio">
          <input type="radio" name="radio" value="0" />
          <span class="name">0</span>
        </label>
      </div>
      <ul class="students" aria-live="polite" id="studentsContainer">
        <% studentsData.forEach(s => { %>
          <li class="student" data-grade="<%= s.grade %>" data-name="<%= s.searchName %>" data-due="<%=s.dueFees%>">
            <a href="/students/<%= s._id %>" class="list">
              <img
                loading="lazy"
                src="https://ui-avatars.com/api/?name=<%= encodeURIComponent(s.name) %>&bold=true&size=16&font-size=0.5&background=f3efea&color=31312f"
                alt="<%= s.name %>"
              />
              <div class="details">
                <p class="<%= s.statusClass %>"><%= s.name %></p>
                <span class="grade"><%= s.grade %></span>
                <% if (s.dueFees > 0) { %>
                  <span class="due">Due <%= s.dueFees.toLocaleString('en-IN') %>₹</span>
                <% } %>
              </div>
            </a>
          </li>
        <% }) %>
      </ul>
  </div>
</body>
<script type="module" src="/js/filter.js"></script>
