<% layout('layouts/boilerPlate') -%>
<link rel="stylesheet" href="css/style.css" />
<link rel="stylesheet" href="css/students.css" />
<body>
  <div class="main">
    <div class="page1">
      <%- include('../includes/navbar')%>
      <a href="students/newStudent" title="Add New Student">
        <div class="new-student">
          <i class="fa-solid fa-user-plus"></i>
        </div>
      </a>
      <p><strong>Total Students : </strong><%=studentsData.length%></p>
      <div class="students">
        <%for(let students of studentsData){%>
        <a href="/students/<%=students._id%>">
          <div class="list">
            <img
              src="https://ui-avatars.com/api/?name=<%= students.name %>&bold=true"
              alt=""
            />
            <div class="details">
              <h2
                class="<%= students.dueFees === 0 ? 'normal' : (students.dueFees > students.fees * 2 ? 'red' : 'yellow') %>"
              >
                <%= students.name %>
              </h2>
              <p>GRADE : <%= students.grade %></p>
              <p class="<%= students.dueFees <= 0? 'none':'' %>">DUE FEES : <%= students.dueFees %></p>
            </div>
          </div>
        </a>
        <%}%>
      </div>
    </div>
  </div>
</body>
